body {
  height: 100vh;
  margin: 0;
  background: url('BannerNintendo.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*Navigation Bar*/
.Navbar{
  position: fixed;
  bottom: 20px;
  left: 35%;
  width: 450px;
}
/*Paa*/
.footer{
  background-color: black;
  opacity: 0.2;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  text-align: center;
  top: 730px;
}
/*ICONSSSSSS*/
.icons{
  display: flex;
  align-items: center;
  position: fixed;
  bottom: -2px;
  left: 0;
}
.FBicon {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
.IGicon {
  margin-left: 10px;
  width: 55px;
  height: 30px;
}
.TGicon {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
.DCicon {
  margin-left: 10px;
  width: 63px;
  height: 44px;
}
.Redditicon {
  width: 48px;
  height: 48px;
}
.ps-text {
  font-size: 14px;
  color: white;
  margin-left: 1250px;
}
/*Buttonsssssssssssssssssssssssssssssssssssssssssssssssssssss*/
.NavButtons{
  position: fixed;
  bottom: 33px;
  left: 35%;
  opacity: 0;
}

.games-button{
  width: 48px;
  height: 35px;
  margin-left: 32px;
}
.gallery-button{
  width: 50px;
  height: 35px; 
  margin-left: 23px;
}
.Home-button{
  width: 81px;
  height: 81px; 
  margin-left: 24px;
  border-radius: 50%;
}
.About-button{
  width: 43px;
  height: 35px; 
  margin-left: 27px;
}
.Contact-button{
  width: 40px;
  height: 35px; 
  margin-left: 26px;
}